html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    padding: 2rem;
}

h1 {
    color: $black;
}

//card gray background
.card-container {
    background-color: $gray;
    padding: 2rem;
}

//card white background and flex body
.card-background {
    background-color: $white;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

//left card style with nested feature
.profile {
    margin: 1rem auto;
    //headshot style
    &_headshot {
      display: flex;
      justify-content: center;
      border-radius: 100%;
      margin: auto;
      width: 100%;
      max-width: 50%;
    }
    //profile name style
    &_name {
      color: $green;
      display: flex;
      justify-content: center;
    }
    //profile role style
    &_role {
      color: $green;
      font-style: italic;
      display: flex;
      justify-content: center;
    }
}

//card right side style and nested feature
.card {
    //background color gray
    background-color: $gray;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem auto;
    width: 100%;
    max-width: 70%;
    //info title style
    &_title {
      font-weight: bold;
      margin: 1.5rem auto;
    }
    //info content style
    &_content {
      font-weight: normal;
    }
    //linkedin icon and content style
    &_linkedin {
      width: 1.5rem;
    }
}
